app/google-services.json
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/*
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.2/fileHashes/resourceHashesCache.bin
.gradle/8.2/fileHashes/fileHashes.lock
.gradle/8.2/fileHashes/fileHashes.bin
.gradle/8.2/executionHistory/executionHistory.lock
