<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="S-Park"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.SmartParking">
        <activity
                android:name="com.contest.parking.presentation.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Dichiarazione delle altre Activity -->
        <activity
                android:name="com.contest.parking.presentation.ParcheggioDettaglioActivity"
                android:exported="true"/>
        <activity
                android:name="com.contest.parking.presentation.LoginActivity"
                android:exported="true"/>
        <activity
                android:name="com.contest.parking.presentation.PaymentActivity"
                android:exported="true"/>
        <activity
                android:name="com.contest.parking.presentation.RegisterActivity"
                android:exported="true"/>
        <activity
                android:name="com.contest.parking.presentation.UserAreaActivity"
                android:exported="true"/>
        <activity
                android:name="com.contest.parking.presentation.AreaSelectionActivity"
                android:exported="true"/>
        <activity
                android:name="com.contest.parking.presentation.PrenotaPostoActivity"
                android:exported="true"/>
        <receiver android:name="com.contest.parking.domain.PrenotazioneReminderReceiver"/>

    </application>

</manifest>
