# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/sqlDataSources/
/sqlDataSources.local.xml

# Directory di IntelliJ IDEA
.idea/
*.iml

# Build
/build/
*/build/

# File generati da Gradle
.gradle/
**/gradle-wrapper.jar
**/gradle-wrapper.properties
/local.properties
/.gradle/

# File di log
*.log

# File di output di compilazione
/captures/
/outputs/
/generated/

# File di sistema
.DS_Store
Thumbs.db

# Dipendenze di Android Studio
.externalNativeBuild/
.cxx/
*.keystore
*.jks

# Node.js (se usi React Native o strumenti JS)
node_modules/
yarn.lock
package-lock.json

# Configurazioni personali
*.swp
*.swo

